circle.node {
    fill: purple;
}

text.node {
    fill: white;
    text-anchor: middle;
    font-family: monospace;
    font-size: 10px;
}

path.edge {
    stroke: gray;
    stroke-width: 1px;
}
path.edge.zero {
    visibility: hidden;
}

rect.plus {
    fill: gray;
}

* {
  border-radius: 0 !important;
}
.popover {
    background-color: #b33f2d;
    border-radius: 0;
    color: white;
}
.popover.left > .arrow {
    border-left-color: #b33f2d;
}
.popover.left > .arrow:after {
    border-left-color: #b33f2d;
}