body {
    background-color: #353535;
}

svg.network {
    max-height: calc(100vh - 10px);
}
circle.node {
    fill: purple;
}
text.node {
    fill: white;
    text-anchor: middle;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}
path.edge {
    stroke: gray;
    stroke-width: 1px;
}
text.edge {
    fill: gray;
    text-anchor: middle;
    font-family: 'Ubuntu', sans-serif;
    font-size: 8px;
}
rect.button {
    fill: gray;
    cursor: pointer;
}

div.right {
    background-color: #303030;
    min-height: 100vh;
}
svg.graph {
    margin-top: 20px;
}
text.output, text.input {
    fill: gray;
    text-anchor: middle;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}
rect.plot {
    fill: #353535;
}
path.plot.actual {
    stroke: gray;
    stroke-width: 0.75px;
}
path.plot.estimated {
    stroke: purple;
    stroke-width: 0.75px;
}

div.control-group {
    padding: 50px;
}
button.standard {
    color: white !important;
    background: #444444;
    min-width: 70px;
    margin-right: 8px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none !important;
}
button.standard:active { 
    color: gray;
    background-color: #404040;
}
button.train {
    background: purple;
}
button.train:active { 
    background-color: #580058;
}

div.status-group {
    display: inline-block;
    min-width: 210px;
}
span.status {
    display: inline-block;
    vertical-align: middle; 
    color: gray;
    margin-right: 6px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}
span.divider {
    height: 28px;
    border-left: 1.5px solid gray;
}

* {
    border-radius: 0 !important;
}

.popover {
    background-color: #b33f2d;
    border-radius: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.popover.left > .arrow {
    border-left-color: #b33f2d;
}
.popover.left > .arrow:after {
    border-left-color: #b33f2d;
}

.input-group {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
}
span.input-group-addon {
    color: gray !important;
    border: 0 !important;
    background-color: #202020 !important;
}
input.form-control {
    color: gray !important;
    border: 0 !important;
    background-color: #252525 !important;
}