body {
    background-color: #353535;
}
div.right {
    background-color: #303030;
    min-height: 100vh;
}
div.bottom {
    padding-bottom: 80px;
}

svg.network {
    max-height: calc(100vh - 10px);
}
circle.node {
    fill: purple;
}
text.node {
    fill: white;
    text-anchor: middle;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}
path.edge {
    stroke: gray;
    stroke-width: 1px;
}
text.edge {
    fill: gray;
    text-anchor: middle;
    font-family: 'Ubuntu', sans-serif;
    font-size: 8px;
}
rect.button {
    fill: gray;
    cursor: pointer;
}

svg.graph {
    margin-top: 20px;
}
text.output, text.input {
    fill: gray;
    text-anchor: middle;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}
rect.plot {
    fill: #353535;
}
path.plot.actual {
    stroke: gray;
    stroke-width: 0.5px;
}
path.plot.estimated {
    stroke: purple;
    stroke-width: 0.5px;
}

button.train {
    color: white !important;
    background: purple;
    border: none;
    outline: none !important;
}
button.train:active { 
    color: gray;
    background-color: #580058;
}

* {
    border-radius: 0 !important;
}

.popover {
    background-color: #b33f2d;
    border-radius: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.popover.left > .arrow {
    border-left-color: #b33f2d;
}
.popover.left > .arrow:after {
    border-left-color: #b33f2d;
}

.input-group {
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

span {
    color: gray !important;
    border: 0 !important;
    background-color: #202020 !important;
}
input {
    color: gray !important;
    border: 0 !important;
    background-color: #252525 !important;
}